
body {
	background-color: rgb(4, 70, 108);
	font-family: 'Segoe UI';
	font-weight: normal;
	font-size: 24px;
	color: white;
}
.logo {
	float: left;
	z-index: 1001;
	top: 0;
	left: 0;
	position:fixed;
	background-color:transparent; 
}

#loading {
    position: absolute; width: 100%; height: 100%; background: url('http://1upevents.com/thanks-cat.gif') no-repeat center center;
    	font-family: 'Segoe UI';
	font-weight: normal;
	font-size: 24px;
	color: white;
}

.facebook_button {
    display: inline-block;

    background: #627aac url(facebook_small.png) left no-repeat;

    border-top: 1px solid #29447e;
    border-right: 1px solid #29447e;
    border-bottom: 1px solid #1a356e;
    border-left: none;

    height: 25px; 
    width: 120px;
    padding-right: 7px;
    padding-left: 7px;

    font-weight: bold;
    font-size: 15px;
    color: white;
    text-decoration: none;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size:11px;
    line-height: 22px;

    cursor: pointer;

}
#backgroundIMG {
	background-color: rgb(4, 70, 108);	
}
table#top{
	-webkit-border-horizontal-spacing: 20px;
	-webkit-border-vertical-spacing: 2px;
	width: 100%;
	  position: fixed;
	  top: 0;
	  left: 0;
	  z-index: 1000;
	  height: 85px;
	  background-color: rgb(4, 70, 108);
}

#postIMG {
	max-width:70px;
	height:70px;
}

.content > td{
	background-color:rgb(4, 70, 108);
}
.content > tr {
	padding:5px;
}
#postMessage {
	margin-left:45px;
	padding:5px;
	border-bottom: 1px solid #4c4e53;
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
}

#postMessage:hover {
	background: #97c700;
}
a.profileLink
{
   color:black;
   font-family:'Segoe UI';
   text-decoration: none;
}

#bottom {
	margin-left:350px;
	margin-top:20px;
	background-color: rgb(4, 70, 108);
}
#title {
	font-size: 36px;
}
.circle {
    width: 60px;
    height: 60px;
    margin: 7px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px; 
    background-color: white;
    color: black;
    font-size: 18px;
    text-align: center;
    line-height: 60px;
    -webkit-transition: .3s ease-in-out;
}
.circle:hover {
	cursor: pointer;
	background-color: rgb(151, 172, 7); !important
	font-weight: bold;
	-webkit-transform: scale(1.1);
}
#active {
	background-color: #292929;
	color: white;
	font-weight: bold;
	-webkit-transform: scale(1.1);
}
.content tr{
	background-color: white;
	margin: 20px;
	color: black;
}
#people {
	display: none;
}
#posts {
	display: none;
	font-size:14px;
	color:black;
	background-color: rgb(4, 70, 108);
	margin-left:0px;
	margin-top:65px;
}

#posts > img {
	width:70px;
	height:70px;
}
#events {
	display: none;
}
#photos {
	display: none;
}
#files {
	display: none;
}
html{
  height:100%;
}

form {

    margin:50px auto;
}

.searchPosts {
     padding:8px 15px;
     background:white;
     margin-left:25px;
     border:0px solid rgb(4,70,108);
}

.button:hover  {
   background-color:#fafafa;
   color:#207cca;
}

.searchButton {
   position:relative;
   padding:8px 15px;
   left:-8px;
   border: 0px solid rgb(4,70,108);
  background-color:rgb(4,70,108);
  color:#fafafa;
  font-family:'Segoe UI';
}
#sidebarTitle {
  font-family:'Segoe UI';
  font-size:18px;
  color:#97c700;
  padding-left:5px;
  padding-bottom:0px;
}
/* Base Styles */
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  
  font-family: 'Segoe UI';
  font-size: 14px;
  position: relative;
}
#cssmenu a {
  line-height: 1.3;
  padding: 8px 15px;
}
#cssmenu {
  width: 350px;
  height: 100%;
  position:fixed;
  float:left;
  background: rgba(000,0,0,0.6); 
  margin-top:20px;
}
#cssmenu > ul > li {
  cursor: pointer;
  border-bottom: 1px solid #4c4e53;
}
#cssmenu > ul > li:last-child {
  border-bottom: 1px solid #3e3d3c;
}
#cssmenu > ul > li > a {
  font-size: 20px;
  display: block;
  color: #ffffff;
  text-shadow: 0 1px 1px #000;
 
  /*background: #64676e;
  background: -moz-linear-gradient(#64676e 0%, #4c4e53 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #64676e), color-stop(100%, #4c4e53));
  background: -webkit-linear-gradient(#64676e 0%, #4c4e53 100%);
  background: linear-gradient(#64676e 0%, #4c4e53 100%);*/
}
#cssmenu > ul > li > a:hover {
  text-decoration: none;
  color:#97c700;
}
#cssmenu > ul > li.active {
  border-bottom: none;
}
#cssmenu > ul > li.active > a {
  background: #97c700;
  background: -moz-linear-gradient(#97c700 0%, #709400 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #97c700), color-stop(100%, #709400));
  background: -webkit-linear-gradient(#97c700 0%, #709400 100%);
  background: linear-gradient(#97c700 0%, #709400 100%);
  color: #4e5800;
  text-shadow: 0 1px 1px #709400;
}
